<div style="margin: 20px;">
  <h2>Licensing</h2>
  <p>Sokrates is available with several licensing options depending on your intended use.</p>

  <p>Below is a summary of each type of license. You may, however, wish to read the full
    license agreement which explains each particular type in greater detail.</p>

  <h2>Licences for Non-Commercial Projects and Evaluation</h2>
  <p>I am an active supporter of the free software and open source communities. As such, I provide a free
    license of Sokrates for non-commercial and open source use.</p>

  <p>Sokrates is also available for a period of 15 days for evaluation purposes.</p>

  <p>However, if you intend to use Sokrates commercially or within government, ie. you are not using Sokrates to check
    free software, I ask you to buy a license. I believe a Sokrates license represents excellent value for money,
    when compared to other products on the market today.</p>

  <h2>Personal/SOHO License</h2>
  <p>A Personal/SOHO License for Sokrates is US$99. A personal/SOHO license entitles you to use Sokrates on one
    machine only. A Personal/SOHO License does not permit the generation of reports for distribution nor use by
    other than the licensee. A Personal/SOHO License also entitles you to email support by sending mail to
    <a href="mailto:zeljko.obren@gmail.com">Željko Obrenović</a> and minor upgrades up to,
    but not including the next major version of the software.</p>

  <h2>Project License</h2>
  <p>A project license for Sokrates is US$499 and entitles you to use Sokrates on any number of
    machines solely for the licensed project, or on a single machine for many projects. A project license also entitles
    you to phone and email support by
    sending mail to <a href="mailto:zeljko.obren@gmail.com">Željko Obrenović</a> and
    minor upgrades up to, but not including the next major version of the software.</p>

  <h2>Enterprise and other Licenses</h2>
  <p>We also offer enterprise licensing for larger organisations where simple, per-project licensing is not
    appropriate. An Enterprise License entitles the licensee to use Sokrates on any number of machines
    across all locations and projects.
  <p>

  <p>If you are a consulting firm and wish to use Sokrates as part of your service offering or you or your
    organisation have some other use of Sokrates that is not specifically covered by one of the standard license
    agreements, I am more than happy to arrange a license agreement and pricing specific to your needs.</p>

  <p>For all licensing and sales related enquiries, please send emails directly to
    <a href="mailto:zeljko.obren@gmail.com;subject=Sokrates enquiry">Željko Obrenović</a>.</p>

  <h2>Download</h2>
  <p>By downloading this version, you agree to the terms and conditions set out in the
    license agreement and you agree that, should you wish to continue using Sokrates for
    other than open source projects, non-commercial projects or evaluation purposes for a period greater than 15
    days, you will purchase a license as described above.
  <p>

  <p>
    <a href="/assets/downloads/sokrates-cli-0.9.jar">sokrates-cli-0.9.jar (Sokrates command line interface)</a>
    <br/>
  <a href="/assets/downloads/sokrates-codeexplorer-0.9.jar">sokrates-codeexplorer-0.9.jar (Sokrates graphical UI explorer, requires JavaFX installed using Java 8)</a>
  </p>

  <p>Please use the supplied md5 checksum file to ensure the integrity of the download.</p>

  <hr/>
  <p align="center">
    Copyright (c) 2019 Željko Obrenović. All rights reserved.</p>
</div>
