<div style="margin: 20px">
  <H1>WHAT IS SOKRATES?</H1>
  <ul>
    <li>
      Sokrates is built by <b><a href="https://zeljkoobrenovic.com">Željko Obrenović</a></b>.
      It implements his vision on how to approach understanding of complex source code bases,
      in a pragmatic and efficient way.
    </li>
    <li>Sokrates is a <b><a href="https://queue.acm.org/detail.cfm?id=945136">code spelunking</a></b> tool, inspired by
      the <a href="https://en.wikipedia.org/wiki/Grep">grep</a>, adding structure on top of regex source code searches.
    </li>
    <li>Sokrates generates a number of reports that can help you understand your code.</li>
    <li>Sokrates comes with both command line interface and interactive GUI code explorer.</li>
  </ul>

  <ul>
    <li>Sokrates looks on the source code from a perspective of maintenance, making visible the size, complexity and coupling of software. For more details see my <a href="https://player.oreilly.com/videos/9781491950791">O'Reilly Video Training: Building Maintainable Software (4 hours 32 minutes)</a>, and
      <a href="https://www.oreilly.com/pub/e/3535">O'Reilly Webcast: Building maintainable software for sustainable business growth: 8 best practices</a>.</li>
    <li>
      The fragment of my training video on building maintainable software is freely avaliable at Youtube:<br/>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8k14k3q5zDs?start=334" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
  </ul>
</div>
