<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repository Explorer</title>
    <style>
        body {
            font-family: Vollkorn, Ubuntu, Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
        }

        .group {
            display: inline-block;
            border: 1px solid lightgrey;
            border-radius: 6px;
            margin: 8px 18px 8px 8px;
            padding: 5px;
            background-color: #f8f8f8;
        }

        a {
            text-decoration: none;
        }

        .icon {
            width: 140px;
            height: 140px;
            object-fit: cover;
            border-radius: 4px;
            margin-top: 26px;
            margin-bottom: 20px;
            filter: grayscale(100%);
        }

        body {
            margin: 40px;
        }

        ::placeholder {
            color: lightgrey;
            opacity: 1;
        }

        :-ms-input-placeholder {
            color: lightgrey;
        }

        ::-ms-input-placeholder {
            color: lightgrey;
        }
    </style>
    <link rel="stylesheet" target="_blank" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" target="_blank" href="https://fonts.googleapis.com/css?family=Lato">
    <script>
        function findGetParameter(parameterName) {
            let result = null, tmp = [];
            location.search.substring(1).split("&").forEach(function (item) {
                tmp = item.split("=");
                if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            });
            return result;
        }
    </script>
    <script>
        const repositories = ${data};

        const redirectFilter = findGetParameter('redirect');
        if (redirectFilter) {
            const redirectToRepo = repositories
                .filter(item => item.metadata.name && (item.metadata.name.toLowerCase().includes(redirectFilter.toLowerCase())))[0];

            if (redirectToRepo) {
                window.location.href = '../' + redirectToRepo.sokratesRepositoryLink.htmlReportsRoot + '/index.html'
            }
        }

    </script>
</head>
<body>
<div style="margin-left: 0px; margin-top: 20px; margin-bottom: 0px; color: grey">
    <div>
        <input id="filter" type="text" placeholder="search..."
               style="font-size: 16px; height: 32px; width: 320px; margin-bottom: 10px"
               onkeyup="update()">
        <div id="search-summary" style="display: inline-block"></div>
    </div>
</div>

<div id="content"></div>

<script>
    function update() {
        const filter = document.getElementById('filter').value.toLowerCase().trim();
        let html = '';

        let count = repositories.length;
        let mainLoc = repositories.map(item => item.mainLinesOfCode).reduce((a, b) => a + b, 0);
        let commits = repositories.map(item => item.commitsCount).reduce((a, b) => a + b, 0);

        const filteredData = repositories
            .filter(item => item.metadata.name && (!filter || item.metadata.name.toLowerCase().includes(filter)))
            .sort((a, b) => b.commitsCount - a.commitsCount)
            .sort((a, b) => b.commitsCount90Days - a.commitsCount90Days)
            .sort((a, b) => b.commitsCount30Days - a.commitsCount30Days)
            .sort((a, b) => b.latestCommitDate.localeCompare(a.latestCommitDate));

        let totalCount = filteredData.length;
        let totalMainLoc = filteredData.map(item => item.mainLinesOfCode).reduce((a, b) => a + b, 0);
        let totalCommits = filteredData.map(item => item.commitsCount).reduce((a, b) => a + b, 0);

        document.getElementById('search-summary').innerHTML = ' = ' + filteredData.length + ' ' + (filteredData.length === 1 ? 'repository' : 'repositories') + ' (' + totalMainLoc.toLocaleString('en-US') + ' LOC main, ' + totalCommits.toLocaleString('en-US') + ' commits)';

        if (totalMainLoc < mainLoc) {
            html += '<div style="width: 400px; margin: 0; padding: 0; white-space: nowrap">';
            const w1count = Math.round(100 * totalCount / count);
            const w2count = 100 - w1count;
            html += '<div style="margin: 0; display: inline-block; width: ' + w1count + '%; background-color: #303030; height: 12px"></div>';
            html += '<div style="margin: 0; display: inline-block; width: ' + w2count + '%; background-color: #c0c0c0; height: 12px"></div>';
            html += '<div style="margin: 0; display: inline-block; font-size: 80%; width: 100px; color: grey; vertical-align: top">&nbsp;' + (totalMainLoc == 0 || w1count > 0 ? w1count : '<1') + '% of repositories</div>';
            html += '</div>';
            html += '<div style="width: 400px; margin: 0; padding: 0; white-space: nowrap">';
            const w1loc = Math.round(100 * totalMainLoc / mainLoc);
            const w2loc = 100 - w1loc;
            html += '<div style="margin: 0; display: inline-block; width: ' + w1loc + '%; background-color: skyblue; height: 12px"></div>';
            html += '<div style="margin: 0; display: inline-block; width: ' + w2loc + '%; background-color: #c0c0c0; height: 12px"></div>';
            html += '<div style="margin: 0; display: inline-block; font-size: 80%; width: 100px; color: grey; vertical-align: top">&nbsp;' + (totalMainLoc == 0 || w1loc > 0 ? w1loc : '<1') + '% of LOC</div>';
            html += '</div>';
            html += '<div style="width: 400px; margin: 0; padding: 0; white-space: nowrap">';
            const w1commits = Math.round(100 * totalCommits / commits);
            const w2commits = 100 - w1commits;
            html += '<div style="margin: 0; display: inline-block; width: ' + w1commits + '%; background-color: green; height: 12px"></div>';
            html += '<div style="margin: 0; display: inline-block; width: ' + w2commits + '%; background-color: #c0c0c0; height: 12px"></div>';
            html += '<div style="margin: 0; display: inline-block; font-size: 80%; width: 100px; color: grey; vertical-align: top">&nbsp;' + (totalMainLoc == 0 || w1commits > 0 ? w1commits : '<1') + '% of commits</div>';
            html += '</div>';
        }

        html += '<table>';
        html += '<tr>';
        html += '<td></td>';
        html += '<td style="text-align: center; border-bottom: 2px solid lightgrey" colspan="3">LOC</td>';
        html += '<td></td>';
        html += '<td style="text-align: center; border-bottom: 2px solid lightgrey" colspan="4">Activity</td>';
        html += '<td></td>';
        html += '<td style="text-align: center; border-bottom: 2px solid lightgrey" colspan="3">Contributors</td>';
        html += '</tr>';

        html += '<tr style="color: #777777">';
        html += '<td>';
        html += '</td>';
        html += '<td style="text-align: right; padding-right: 5px; padding-left: 5px;">main</td>';
        html += '<td style="text-align: right; padding-right: 5px; padding-left: 5px;">test</td>';
        html += '<td style="text-align: right; padding-right: 5px; padding-left: 5px;">other</td>';
        html += '<td style="text-align: right; padding-right: 5px; padding-left: 5px;"></td>';
        html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px; border-left: 1px solid lightgrey; ">last<br>commit</td>';
        html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px;">commits<br>(30d)</td>';
        html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px;">commits<br>(90d)</td>';
        html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px;">commits<br>(all time)</td>';
        html += '<td style="text-align: right; padding-right: 5px; padding-left: 5px;"></td>';
        html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px; border-left: 1px solid lightgrey; ">contributors<br>(30d)</td>';
        html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px;">contributors<br>(90d)</td>';
        html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px;">contributors<br>(all time)</td>';
        html += '</tr>';

        filteredData.forEach(item => {
            let commitsCount30Days = item.commitsCount30Days;
            if (commitsCount30Days === 0) {
                html += '<tr style="opacity: 0.5">';
            } else {
                html += '<tr>';
            }
            html += '<td>';
            const elements = item.metadata.name.split('/');
            const parent = elements.length == 2 ? elements[0] : null;
            const name = elements.length == 2 ? elements[1] : item.metadata.name;
            html += '<div style="margin: 2px; padding: 2px; border: 1px dashed lightgrey">';
            if (parent) {
                html += '<div style="font-size: 80%; color: #777777">' + parent + '</div>';
            }
            html += '<a href="../' + item.sokratesRepositoryLink.htmlReportsRoot + '/index.html" target="_blank">';
            html += '<div>' + name + '</div>';
            html += '</a>';
            html += '</div>';
            html += '</td>';
            html += '<td style="text-align: right; padding-right: 5px; padding-left: 5px;">';
            html += '<div style="border: 1px solid #d0d0d0; border-radius: 4px; padding 2px;margin: 2px; padding: 2px; ">';
            html += item.mainLinesOfCode.toLocaleString("en-US");
            html += '</div>';
            html += '</td>';
            html += '<td style="text-align: right; padding-right: 5px; padding-left: 5px;">';
            html += '<div style="border: 1px solid #d0d0d0; border-radius: 4px; padding 2px;margin: 2px; padding: 2px; color: #b0b0b0">';
            html += item.testLinesOfCode.toLocaleString("en-US");
            html += '</div>';
            html += '</td>';
            html += '<td style="text-align: right; padding-right: 5px; padding-left: 5px;">';
            html += '<div style="border: 1px solid #d0d0d0; border-radius: 4px; padding 2px;margin: 2px; padding: 2px; color: #b0b0b0">';
            html += (item.buildAndDeployLinesOfCode + item.generatedLinesOfCode + item.otherLinesOfCode).toLocaleString("en-US");
            html += '</div>';
            html += '</td>';
            html += '<td>';
            html += '</td>';
            html += '<td style="border-left: 1px solid lightgrey; text-align: right; padding-right: 5px; padding-left: 5px; font-size: 90%; white-space: nowrap">';
            html += item.latestCommitDate;
            html += '</td>';
            html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px;">';
            html += commitsCount30Days.toLocaleString("en-US");
            html += '</td>';
            html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px; color: #b0b0b0">';
            html += item.commitsCount90Days.toLocaleString("en-US");
            html += '</td>';
            html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px; color: #b0b0b0">';
            html += item.commitsCount.toLocaleString("en-US");
            html += '</td>';
            html += '<td>';
            html += '</td>';
            html += '<td style="border-left: 1px solid lightgrey; text-align: center; padding-right: 5px; padding-left: 5px; cursor:help;" title="' + item.contributors30Days.join('\n') + '">';
            html += item.contributors30Days.length.toLocaleString("en-US");
            html += '</td>';
            html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px; cursor:help; color: #b0b0b0" title="' + item.contributors90Days.join('\n') + '">';
            html += item.contributors90Days.length.toLocaleString("en-US");
            html += '</td>';
            html += '<td style="text-align: center; padding-right: 5px; padding-left: 5px; cursor:help; color: #b0b0b0" title="' + item.contributors.join('\n') + '">';
            html += item.contributors.length.toLocaleString("en-US");
            html += '</td>';
            html += '</tr>';
        });

        html += '</table>';

        document.getElementById('content').innerHTML = html;
    }

    const filterParam = findGetParameter('filter');
    if (filterParam || redirectFilter) {
        document.getElementById('filter').value = filterParam || redirectFilter;
    }

    update();
</script>
</body>
</html>