<div style="margin-bottom: 12px" class="card">
  <img src="assets/logo.png" style="height: 150px; margin-right: 14px">
  <div style="display: inline-block; vertical-align: top">
    <h1 class="mat-h1" style="font-size: 50px; font-weight: bold; margin-top: 18px">SOKRATES</h1>
    <p style="font-size: 180%; margin-top: 24px; color: grey">A pragmatic source code analyzer</p>
    <p style="font-size: 120%; margin-top: 24px;"><i>"Know your code! The unexamined code is not worth maintaining!"</i>
      Socrates (399 BC)</p>
  </div>
</div>
